//about section
#about_section {
  text-align: center;
  padding: 10px;
  font-family: "Roboto Slab", serif;
  padding-top: 3%;
  h1 {
    padding-bottom: 10px;
  }
  #profile_picture img {
    border-radius: 50%;
    width: 25%;
    box-shadow: 5px 5px 5px rgb(174, 174, 174);
  }
  #context {
    padding-top: 20px;
    #info {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media only screen and (max-width: 768px) {
  #about_section {
    padding-top: 10%;
    #profile_picture img {
      width: 80%;
    }
    #context {
      #info {
        width: 95%;
      }
    }
  }
}
