//experience section
#experience_section {
  text-align: center;
  margin-top: 50px;
  padding: 10px;
  background-color: rgb(225, 225, 225);
  font-family: "Roboto Slab", serif;
  padding-top: 3%;
  p {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
  }

  .technologies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    img {
      width: 10%;
    }
  }

  img {
    padding: 30px;
  }
}

@media only screen and (max-width: 768px) {
  #experience_section {
    padding-top: 10%;
    p {
      width: 95%;
    }
  }

  img {
    width: 30%;
  }
}
