//experience section
#experience_section {
  text-align: center;
  margin-top: 50px;
  padding: 10px;
  background-color: rgb(250, 250, 250);
  font-family: "Roboto Slab", serif;
  padding-top: 3%;
  // color: white;
  p {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
  }
  .skills {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .skill {
      padding: 40px 80px;
      width: 400px;
      i {
        font-size: 60px;
      }
      p {
        width: 240px;
      }
    }
  }

  .technologies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    img {
      width: 140px;
    }
  }

  img {
    padding: 30px;
  }
}

@media only screen and (max-width: 768px) {
  #experience_section {
    padding-top: 10%;
    p {
      width: 95%;
    }
    .technologies {
      img {
        width: 100px;
      }
    }
  }

  img {
    width: 30%;
  }
}
