//experience section
#experience_section {
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    background-color: rgb(225, 225, 225);
    p {
        width: 50%;
        margin-right: auto;
        margin-left: auto;
        padding: 10px;
    }
    .technologies {
        ul {
           padding: 20px;
            li {
                display: inline;
                padding: 50px;
                img {
                    width: 5%;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #experience_section {
        p {
            width: 95%;
        }
        .technologies {
            ul {
                display: inline-block;
                padding: 0;
                li {
                    img {
                        width: 15%;
                        padding-top: 10px;
                    }
                }
            }
        }
    }
}