header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../Assets/desk wallpaper.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Assets/desk wallpaper.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Roboto Slab", serif;
}

header .navbar {
  background-color: black;
  position: fixed;
  height: 5vh;
  width: 100vw;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .navbar .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header .navbar .logo a {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .logo a:hover {
  text-decoration: none;
  color: #e6e6e6;
}

header .navbar .logo a img {
  width: 40px;
  border-radius: 50%;
}

header .navbar .logo a p {
  margin: 0;
  padding: 0 5px;
}

header .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
  margin: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .navbar ul li {
  padding: 0 10px;
  list-style: none;
}

header .navbar ul li a {
  color: white;
}

header .navbar ul li a:hover {
  text-decoration: none;
  color: #e6e6e6;
}

header #landing_page {
  color: white;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

header #landing_page h1 {
  font-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header #landing_page h1 span {
  font-size: 20px;
}

header .arrow {
  font-size: 20px;
}

header .arrow i {
  color: white;
  width: 100%;
  text-align: center;
}

header .arrow:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  header #landing_page h1 {
    font-size: 30px;
  }
  header #landing_page h1 span {
    font-size: 10px;
  }
  header i#menu.fa.fa-bars {
    display: block !important;
  }
  .hamburger {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    position: fixed;
    background-color: black;
    width: 100vw;
    height: 5vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 10px;
    z-index: 99;
  }
  .hamburger img {
    width: 20px;
    border-radius: 50%;
  }
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh !important;
    width: 80% !important;
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
    -webkit-transform: translateX(-100%) !important;
            transform: translateX(-100%) !important;
    -webkit-transition: ease-out !important;
    transition: ease-out !important;
    -webkit-transition: 0.4s !important;
    transition: 0.4s !important;
  }
  .navbar .logo {
    -webkit-box-flex: 0 !important;
        -ms-flex: none !important;
            flex: none !important;
  }
  .navbar .logo a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar .logo a p {
    padding: 5px !important;
  }
  .navbar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar ul li {
    padding: 20px 0 !important;
  }
  .navbar_show {
    -webkit-transform: translateX(0) !important;
            transform: translateX(0) !important;
    -webkit-transition: ease-in !important;
    transition: ease-in !important;
    -webkit-transition: 0.4s !important;
    transition: 0.4s !important;
  }
}
/*# sourceMappingURL=home.css.map */