//projects section
#projects_section {
  text-align: center;
  font-family: "Roboto Slab", serif;
  padding-top: 3%;
  .heading h1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    span {
      font-size: 10px;
    }
  }

  #tech {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    li {
      list-style: none;
      padding: 20px;
    }
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    #block {
      width: 25%;
      margin: 20px;
      background-color: rgb(250, 250, 250);
      border-radius: 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        padding: 10px;
        width: 80%;
        a {
          &:hover {
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
      img {
        width: 90%;
      }
      &:hover {
        background-color: rgb(255, 255, 255);
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #projects_section {
    padding-top: 10%;
    #tech {
      flex-direction: column;
    }
    .projects {
      #block {
        width: 100%;
      }
    }
  }
}
