//projects section
#projects_section {
  text-align: center;
  font-family: "Roboto Slab", serif;
  padding-top: 3%;
  .heading h1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    span {
      font-size: 10px;
    }
  }

  #tech {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    li {
      list-style: none;
      padding: 20px;
    }
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    #block {
      width: 40%;
      margin: 20px;
      background-color: brown;
      .block2 {
        padding: 20px;
        background-color: rgb(225, 225, 225);
        border-radius: 5%;
      }
      img {
      }
      h3 {
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #projects_section {
    padding-top: 10%;
    #tech {
      flex-direction: column;
    }
    .projects {
      #block {
        width: 100%;
      }
    }
  }
}
