
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    overflow: hidden;
    font-family: 'Roboto Slab', serif;
}

@import "./home.scss";

@import "./about.scss";

@import "./experience.scss";

@import "./projects.scss";

@import "./contact.scss";